@*@model IEnumerable<SS.Domain.Core.Identity.Models.UserDto>*@
@{
    ViewBag.Title = "Animal Types";
}

    <div class="container p-3">
        <div class="row pt-4">
            <div class="col-6">
                <h2 class="text-primary">Animal Types</h2>
            </div>
            <div class="col-6 text-end">
                @*asp-controller="AnimalTypes" asp-action="CreateOrUpdate"*@
                <a onclick="Util.editModal(null,'/AnimalTypes/OpenPopup')" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> &nbsp; Create
                </a>
            </div>
        </div>
        <br />
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header  row clearfix"></div>
                    
                    <table id="tableAnimalTypes" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Coats</th>
                                <th>Genders</th>
                                <th>Colors</th>
                                <th style="width: 5%">Action</th>
                            </tr>
                        </thead>
                    </table>

                </div>
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js" defer ></script>
<script>$(document).ready(function () {
       var r = $('#tableAnimalTypes').DataTable({
            "paging": true,
            "processing": true,
            "serverSide": true,
            "searching": true,
            "lengthChange": true,
            "responsive": true,
            "columnDefs": [{ targets: 'no-sort', orderable: true }],
            "ordering": true,
            "autoWidth": false,
            "ajax": {
                "url": '/AnimalTypes/GetPaginatedTable',
                "type": "POST",
                "data": function (data) {
                    var additionalValues = [];
                    additionalValues[0] = null;
                    data.additionalValues = additionalValues;
                    return data;
                }
            },
            "columns": [
                { data: "name" },
                { data: "coats" },
                { data: "genders" },
                { data: "colors" },
                {
                    data: "id",
                    render: function (data, type, row) {
                        return "<div class='btn-group btn-group-sm'>"
                            + "<a onclick='onEditingAnimal(" + JSON.stringify(row) + ")' class='btn btn-info'><i class='fas fa-pen'></i></a>"
                            + "<a onclick='onDeletingAnimal(" + JSON.stringify(row) + ")' class='btn btn-danger'><i class='fas fa-trash'></i></a>"
                            + "</div>";
                    }
                }
            ]
        });
    });

    </script>




@*
@using TamagotchiWeb.Entities
@using System.Text.Json
@model TamagotchiWeb.Models.GetAnimalTypes
@{
    ViewData["Title"] = "Index";
}

<h1>Animal Types</h1>

<button id="synchronize" class="btn btn-success float-right col-3" onclick="onSynch()"> Synch </button>

<label>@Model?.AnimalTypes.Count()</label>
@if(Model != null && Model.AnimalTypes != null && Model.AnimalTypes.Any())
{
    <table id="tableRole" class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Coats</th>
        <th>Genders</th>
        <th>Colors</th>
        <th style="width: 5%">Action</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var animal in Model.AnimalTypes)
    {
        <tr>
            <td>@animal.name</td>
            <td>@animal.coats</td>
            <td>@animal.genders</td>
            <td>@animal.colors</td>
            <td style="text-align:center;">
                <div class="btn-group btn-group-sm ">
                    <a onclick="onEditingRole(@JsonSerializer.Serialize(animal))" class="btn btn-info">
                        <i class="fas fa-pen"></i>
                    </a>
                    <a onclick="onDeletingRole(@JsonSerializer.Serialize(animal))" class="btn btn-danger">
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>

}

<script>
    function onSynch() {
        $.ajaxSetup({ cache: true });
        $.ajax({
            async: true,
            type: "Post",
            url: '/AnimalTypes/Synch'
        });
       // util.makeRequest(null, '/Animals/Synch');
    }
    </script>*@